.menu-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.menu-wrapper p {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
}
.menu-wrapper p:hover {
  color: #7b61ff;
}
@media (max-width: 770px) {
  .menu-wrapper {
    display: none;
  }
}
